body {
    background-color: lightgray;
}

.main-title {
    text-decoration: underline;
    text-align: center;
}

.highlight {
    color: green;
    font-weight: bold;
}

.container {
    background-color: white;
}

#unique {
    color: orange;
}

.special {
    color: purple;
}

.bg-green {
    background-color: rgb(3, 251, 3);
}

.important-text {
    color: yellow !important;
}

.container p {
    text-decoration: underline;
}

input[type="text"] {
    border: 2px solid blue;
}

input[type="password"] {
    border: 2px solid red;
}

p::first-letter {
    font-size: 200%;
    color: blue;
}

h2::before {
    content: "@";
    color: gold;
}

h2::after {
    content: "$";
    color: red;
}

ul li:first-child {
    color: blue;
    font-weight: bold;
    background-color: lightblue;
}

ul li:last-child {
    color: red;
    font-weight: bold;
    background-color: lightcoral;
}

ul li:nth-child(odd) {
    color: green;
    font-size: 20px;
}

button:hover {
    background-color:orange;
    cursor: pointer;
}

.border-red {
   /* border: 2px solid red; */
    border-bottom: 5px solid red;
}