* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Nav styling */
.fixed-nav {
    background-color: #1e3a5f;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Header Styling */
header {
    background-color: #dbeafe;
    padding: 30px;
    text-align: center;
}

/* Main Styling */
main {
    /* background-color: lightgray; */
    width: 90%;
    margin: 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    color: darkblue;
    margin-bottom: 20px;
}

/* FLOAT */
.float-container {
    border: 2px solid gray;
    padding: 20px;
    overflow: auto;
}

.float-left {
    background-color: lightblue;
    width: 150px;
    padding: 20px;
    text-align: center;
    float: left;
}

.float-right {
    background-color: lightgreen;
    width: 150px;
    padding: 20px;
    text-align: center;
    float: right;
}

.float-center {
    clear: both;
}

/* Float Image */
.float-image {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: #b7e748;
    padding: 20px;
    margin: 0 auto;
}

.float-image > img {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* FlexBox */
.flex-container {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: start;
    gap: 20px;
    height: 400px;
    /* align-items: start; */
    /* align-items: end; */
    align-items: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: orange;
    padding: 30px;
    text-align: center;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.set-width {
    width: 950px;
}

.relative-box {
    width: 400px;
    height: 200px;
    background-color: lightgray;
    padding: 20px;
    position: relative;
}

.absolute-box {
    background-color: red;
    color: white;
    padding: 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* Z-Index-Styling */
.z-container {
    height: 250px;
    position: relative;
}

.box {
    width: 180px;
    height: 180px;
    color: white;
    padding: 20px;
    position: absolute;
}

.red-box {
    background-color: red;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.blue-box {
    background-color: blue;
    top: 60px;
    left: 80px;
    z-index: 1;
}
